<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: "Inter", system-ui, sans-serif;
  background: #f0f0f0;
=======
* { margin: 0; padding: 0; box-sizing: border-box; }
html, body, #root {
 height: 100%;
 font-family: 'Inter', system-ui, sans-serif;
 background: #f0f0f0;
>>>>>>> 2e296b65d6f47c48987d1137732f59b79820a846
}
